html
  head
    - var activeTab = '2012';
    include jade_partials/head.jade
  body
    include jade_partials/top_bar.jade
    .container
      .row
        .col-xs-12
          h3 Collage and Mixed Media
      .row
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Study for untitled (Horse). Soft Pastel on Paper and Paste on Cardboard. 12in x 15 in. 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/t5086cgj8drs68h/2012_untitledStudyForHorse_12inx15in_SoftPastelOnPaperOnCardboard.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/t5086cgj8drs68h/2012_untitledStudyForHorse_12inx15in_SoftPastelOnPaperOnCardboard.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Wolfman. Inkjet Paper on Cardboard. Approx 6in x 10in. 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/hikloky8fysyp6x/2012_Wolfman_approx6inx10in_PaperOnCardBoard.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/hikloky8fysyp6x/2012_Wolfman_approx6inx10in_PaperOnCardBoard.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="untitled. Inkjet Paper and Acrylic on Paper on Cardboard. Approx 18in x 11in. 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/79wsen890y0ehwj/2012_untitled_approx18inx11in_InkjetPaperAndAcrylicOnPaperOnCardboard.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/79wsen890y0ehwj/2012_untitled_approx18inx11in_InkjetPaperAndAcrylicOnPaperOnCardboard.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Void 4. Digital image (Adobe Photoshop). 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/dhtk3tqjx8xicsh/2012_TheStableOrange_approx5inx8in_AcrylicPaperGraphiteGraphiteOnPanel.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/dhtk3tqjx8xicsh/2012_TheStableOrange_approx5inx8in_AcrylicPaperGraphiteGraphiteOnPanel.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Void 5. Digital image (Adobe Photoshop). 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/sleyv6c6kvjaq1a/2012_Deluge_approx12inx14in_AcrylicAndPocketProtectorsOnCanvas.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/sleyv6c6kvjaq1a/2012_Deluge_approx12inx14in_AcrylicAndPocketProtectorsOnCanvas.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Void 6. Digital image (Adobe Photoshop). 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/s2q04q4sh64xfol/2012_untitled_24inx18in_ClayOnPaper.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/s2q04q4sh64xfol/2012_untitled_24inx18in_ClayOnPaper.jpg?dl=0")
      .row
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Void 1. Digital image (Adobe Photoshop). 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/anbgdgt7yq9hdf6/2012_untitledPositive_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/anbgdgt7yq9hdf6/2012_untitledPositive_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0")
        .col-xs-6.col-sm-4.col-md-2
          a.thumbnail(
            href="#",
            title="Void 2. Digital image (Adobe Photoshop). 2012.",
            data-mfp-src="https://dl.dropboxusercontent.com/s/izxgaowidzsz1id/2012_untitledNegative_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0"
          )
            img(src="https://dl.dropboxusercontent.com/s/izxgaowidzsz1id/2012_untitledNegative_approx18inx14in_ClayAndTemperaOnCanvasBoard.jpg?dl=0")


      hr
      .row
        .col-xs-12
          h3 Drawings
      hr
      .row
        .col-xs-12
          h3 Paintings
      hr
      .row
        .col-xs-12
          h3 Sculpture
      hr
      .row
        .col-xs-12
          h3 Digital Images
      hr
      .row
        .col-xs-12
          h3 Video

    include jade_partials/footer_assets.jade
